################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAppFirst/.vs/WebAppFirst
/WebAppFirst/WebAppFirst/bin/Debug/netcoreapp3.1
/WebAppFirst/WebAppFirst/obj
